.product-card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
}
.product-img{
    width: 200px;
    height: 200px;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
}
.pagination-container{
    padding: 5px;
    margin: 4px;
     
    
}
.page-number{
    border: 1px solid black;
    padding: 7px;
    margin: 5px;
    cursor: pointer;
  
}
.active{
    background-color: sandybrown;
}